:root {
  --background-light: #ffffff;
  --color-item: #2d2d2d;
  --color-link: #2d2d2d;
  --green: #179d2e;
  --red: #f02e2c;
  --yellow: #f5af23;
  --blue: #0177b8;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-light);
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2px;
  padding: 24px;
  max-width: 424px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  text-align: left;
  margin-top: 124px;
}

.text {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  margin: 12px 0;
  color: var(--color-item);
}

.link {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: var(--color-link);
  text-align: right;
}

.section {
  display: grid;
  gap: 24px;
  padding: 30px;
}

.svg {
  position: absolute;
  top: 24px;
  right: 24px;
}

.green {
  border: solid 2px var(--green);
}
.red {
  border: solid 2px var(--red);
}
.yellow {
  border: solid 2px var(--yellow);
}
.blue {
  border: solid 2px var(--blue);
}

@media (max-width: 767px) {
  .section {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .section {
    grid-template-columns: repeat(3, 1fr);
  }
}
